.sidebar{
    flex: 0.25;
    background-color:pink;
}
.sidebar_chats{
    display: flex;
    background-color: #fff;
    flex-direction: column;
}
.sidebar_chat{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
    gap: 2px;
}
.sidebar_chat:hover{
  cursor: pointer;
  background-color: #ebebeb;
}
.sidebar_chatinfo{
    margin-left: 15px;
}
.sidebar_chatinfo h2{
    font-size: 16px;
}
.sidebar_chatinfo p{
    font-size: 12px;
}
.sidebar_chat>h2{
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}